* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

/* body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #03080c;
}

#container {
    height: 100%;
    width: 50%;
    background: linear-gradient(#03080c, #1a2129);
}

#container #info {
    font-family: 'Josefin Sans', sans-serif;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

}

#container #info #name {
    color: #0ee460e3;
    text-shadow: 3px 3px 6px #2b2a2a;
    font-size: 35px;
    margin-bottom: 5px;
    font-weight: 800
}

#container #info #slack {
    color: #06d355e3;
    font-size: 30px;
    text-shadow: 3px 3px 3px #222222;
    margin-bottom: 30px;
    font-weight: 600;
}

#container #info #day {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 5px;
    text-shadow: 3px 3px 3px #222222;
}

#container #info #date {
    color: #f08585;
    font-size: 20px;
    text-shadow: 3px 3px 3px #222222;
    margin-bottom: 30px;
}

#container #info #git {
    border: 1px solid #796e6e;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    box-shadow: 1px 1px 1px #353434;
    background-color: #034b1fe3;

}

#container #info #git a {
    text-decoration: none;
    color: #e6dddd;

}

#container #info #git img {
    margin-right: 5px;
}


#container #pics {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container #pics img {
    border: 1px solid #333232;
    box-shadow: 2px 2px 2px #834848;
}
 */
 @media screen and (max-width:600px) {
    #container {
        width: 100%;
    }
}
